body {
    margin: 0;
    padding: 0;
    background-image: url('coins_background.png');
    background-color: #111111;
    background-size: cover; /* Растягиваем фоновое изображение на весь экран /
    background-position: center; / Выравниваем фоновое изображение по центру /
    background-repeat: repeat; / Запрещаем повторение фонового изображения */
    color: gold;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Стили для контейнера кнопок */
.container {
    position: relative; /* Позиционируем относительно */
    margin-top: 70px; /* Отступ сверху для расположения кнопок ниже */
}

/* Стили для кнопок */
.image {
    width: 130px;
    height: 190px;
    margin: 18px;
    cursor: pointer;
    transition: transform 0.3s;
}

/* Стили для иконки баланса */
.balance-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 999;
}

/* Стилизуем изображение иконки баланса */
.balance-icon img {
    width: 50px;
    height: 50px;
    /* Дополнительные стили, если необходимо */
}

.header-image {
    width: 100%;
    max-width: 600px;
    height: auto;
}
.coin {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('coin_notbet.png'); /* Путь к изображению монеты */
}

@keyframes fall {
    from {
        top: -50px; /* Начальное положение монет */
    }
    to {
        top: 100%; /* Конечное положение монет (ниже экрана) */
    }
}

@media screen and (max-width: 600px) {
    .image {
        width: calc(100% - 20px);
    }
}

.image {
    width: 130px;
    height: 190px;
    margin: 18px;
    cursor: pointer;
    transition: transform 0.3s;
}

.image:hover {
    transform: scale(1.1);
}

.image:active {
    transform: scale(1);
}

.image:focus {
    outline: none;
}

.image:focus:not(:hover) {
    transform: scale(1);
}

* {
    -webkit-tap-highlight-color: transparent; /* Для устройств с iOS */
    -webkit-touch-callout: none; /* Для устройств с iOS */
    -webkit-user-select: none; /* Для устройств с iOS */
    -moz-user-select: none; /* Для устройств с Android */
    -ms-user-select: none; /* Для устройств с Android */
    user-select: none; /* Для устройств с Android */
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #ffae00;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loadingOverlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

a:active,
.image:active {
    outline: none;
    box-shadow: none;
}
